@{
    Layout = "~/Views/Shared/_jQueryUI.cshtml";
    ViewBag.Title = "Autocomplete";
}
<div>
    <input id="teamComplete" type="text" value="seleccione un equipo"/>
</div>

@section scripts {
    <script type="text/javascript">
        var currentValue;
        var options = [
            "América",
            "Guadalajara",
            "Toluca",
            "Cruz Azul",
            "UNAM",
            "León",
            "Pachuca",
            "Santos"
        ];

        $(function () {
            currentValue = $("#teamComplete").val();
            $("#teamComplete").focus(function () {
                currentValue = $(this).val();
                $(this).val("");
            });

            $("#teamComplete").blur(function () {
                if ($(this).val() == "") {
                    $(this).val(currentValue);
                }
            });

            $("#teamComplete").autocomplete({
                source: options,
                //focus: function (event, ui) {
                //    console.log(event);
                //    console.log(ui);
                //},
                change: function (event, ui) {
                    if (ui.item == null) {
                        $(this).val(currentValue);
                    }
                    //console.log(ui);
                },
                select: function () {
                    $(this).blur();
                }
            });
        });
    </script>
}